*{
  padding: 0;
  margin: 0;
  font-family: Oxygen, sans-serif;
  background-color: black;
}
header {
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0px 0px 2px;
  width: 100%;
}
header ul{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: thin solid grey;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  color: #f2aa4cff;
  cursor: pointer;
}

/*main content*/
section.profile {
  padding: 2rem;
  margin: 0;
  border-bottom: 0.01px solid grey;
  margin-bottom: 1rem;
}
section img {
  width: 8em;
  height: auto;
  border: 1px solid current-color;
  border-radius: 5px;
  margin-top: 2rem;
}
.profile p {
  margin-top: .8rem;
}
  p span {
    display: inline-block;
    text-decoration: none;
  } 
  span{
    color: #f2aa4c;;
  }
  
  /*about me*/
  .article{
   padding: 2rem;
   position: relative;
  }
  .article  h2{
   color: white;
   font-size: 1.5rem;
   display: inline-block;
   position: absolute;
   top: 0.5rem;
   padding-bottom: 0.5rem;
   }
  .article p{
  margin-top: 1rem;
  color: grey;
  line-height: 1.7em;
  }
 .tools {
    color: grey;
    padding: 2rem;
  }
  .tools h2 {
    color: white;
    font-size: 1.5rem;
  }
  .tools p {
    margin-top: .7rem;
    line-height: 1.7rem;
  }
  .icons-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .icons-list div, .other-tools-head div {
    display: flex;
    gap: .5rem;
  }
  .icons-list i, .other-tools i {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
  .other-tools {
    margin-top: 1.4rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 1.1rem;
  }
.other-tools-head {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .projects{
    padding: 2rem;
    margin-top: .5rem;
  } 
  section.projects h2 {
    font-size: 1.5rem;
    color: white;
  }
  section.projects p{
    margin-top: 0.7rem;
    color: grey;
    line-height: 1.7rem;
  }
  .projects-media img {
    width: 20rem;
    margin-bottom: .5rem;
  }
   .projects-media h3 {
     color: white;
  }
  .projects-media a {
    color: white;
    text-decoration: none;
  }
  .projects-media a:hover {
    color: #f2aa4c;
  }
  .projects-content p, .projects-content a{
    margin-top: .3rem;
  }
  .projects-content {
    display: flex;
    flex-direction: column;
    gap: .1rem;
  }
  footer{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border-top: 0.04px solid grey;
    padding-bottom: 1rem;
  }
    footer p {
      color: grey;
      font-size: 1rem;
      margin-top: 1rem;
    }
    
  @media all and (min-width: 800px) {
    .projects-media {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1rem;
    }
    .projects-media img {
      width: 25rem;
      height: 26rem;
    }
  }