*{
  padding: 0;
  margin: 0;
  font-family: Oxygen, sans-serif;
  background-color: black;
}
header {
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0px 0px 2px;
  width: 100%;
}
header ul{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: .1px solid grey;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  color: #008a6b;
  cursor: pointer;
}

/*main content*/
section.profile {
  padding: 2rem;
  margin: 0;
  border-bottom: 0.01px solid grey;
}
section img {
  width: 8em;
  height: auto;
  border: 1px solid current-color;
  border-radius: 5px;
  margin-top: 2rem;
}
.profile p {
  margin-top: .8rem;
  font-size: 1rem;
}
p span {
 display: inline-block;
 text-decoration: none;
} 
span{
  color: #008A6B;
}
  
  /*about me*/
  .article{
   padding: 2rem;
  }
  #right, #down {
    padding-right: 1ch;
  }
  #down {
    display: none;
  }
  .article h4 {
    color: #008a6b;
    font-size: .9rem;
    margin-top: -1rem;
    margin-bottom: .2rem;
  }
  .navigation {
    padding: 1rem;
    color: grey;
    display: none;
    font-size: .9rem;
    border-bottom: thin solid grey;
  }
  .navigation li {
    list-style-type: '~/';
    padding-inline-start: 1ch;
  }
  .navigation li a {
    text-decoration: none;
    color: grey;
  }
  .navigation li a:hover {
    color: #008a6b;
  }
  .article h2{
   margin-top: 1rem;
   color: white;
   font-size: 1.5rem;
   display: inline-block;
   padding-bottom: 0.5rem;
   }
  .menu:hover {
    color: #008a6b;
    cursor: pointer;
  }
  .article p{
  font-size: 1rem;
  margin-top: .5rem;
  color: grey;
  line-height: 1.7rem;
  }

 #tools {
    color: grey;
    padding: 2rem;
  }
  #tools h2 {
    color: white;
    font-size: 1.5rem;
  }
  #tools p {
    margin-top: .7rem;
    line-height: 1.7rem;
    font-size: 1rem;
  }
  .icons-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .icons-list div, .other-tools-head div {
    display: flex;
    gap: .5rem;
  }
  .icons-list i, .other-tools i {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
  .other-tools {
    margin-top: 1.4rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 1.1rem;
  }
.other-tools-head {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #projects{
    padding: 2rem;
    margin-top: .5rem;
  } 
  #projects h2 {
    font-size: 1.5rem;
    color: white;
  }
  #projects p{
    margin-top: 0.7rem;
    color: grey;
    line-height: 1.7rem;
    font-size: 1rem;
  }
  .projects-media img {
    width: 20rem;
   margin-bottom: .5rem;
  }
   .projects-media h3 {
     color: white;
  }
  .projects-media a {
    color: white;
    text-decoration: none;
  }
  .projects-media a:hover {
    color: #008a6b;
  }
  .projects-content p{
    margin-top: 0rem;
  }
  .projects-content {
    display: flex;
    flex-direction: column;
    gap: .1rem;
  }
  .projects-media img:hover {
    transform: scale(0.9);
    transition: .4s ease;
  }
  footer{
    padding-left: 2rem;
    margin-top: 1rem;
    border-top: 0.04px solid grey;
    padding-bottom: 1rem;
  }
 footer p {
   color: grey;
   text-align: left;
   margin-top: 1rem;
   font-size: 1rem;
 }
    
  @media all and (min-width: 800px) {
    .projects-media {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 1rem;
    }
    .projects-media img {
      width: 100%;
      height: 25rem;
    }
    .projects-content p {
     
    }
    .projects-content {
      display: flex;
      flex-direction: column;
    }
    #projects a {
      text-align: center;
      border: 1px solid #008a6b;
      padding: .85rem;
      border-radius: 5px;
    }
  }